jekyll-input/.jekyll-cache/
jekyll-input/*.md
jekyll-input/assets/dynamic-images/
jekyll-input/assets/downloads/examples*.zip
__pycache__/
scratch/
.Rhistory
preview/
**/.ipynb_checkpoints/*
assignments/How*/*
