
<!--
  --
  --  Configure MathJax to permit $...$ for inline matht
  --
  -->

<script type="text/javascript">
    MathJax = {
        tex: {
            inlineMath: [['$','$'], ['\\(','\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    }
</script>

<!--
  --
  --  Import MathJax
  --
  -->

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript"
        id="MathJax-script"
        async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<!--
  --
  --  Fix inconsistent gutter width for code cells
  --
  -->

<style>
    .rouge-gutter {
        width: 3em;
    }
</style>

<!--
  --
  --  Add copy buttons to all code input cells
  --
  -->

<script type="text/javascript">
    function makeButton () {
        const button = document.createElement( 'button' )
        button.setAttribute( 'aria-label', 'Copy code to clipboard' )
        button.innerText = 'Copy'
        button.style.float = 'right'
        button.classList.add( 'btn' )
        return button
    }
    const isNotPlainText = element =>
        !element.classList.contains( 'language-plaintext' ) &&
        ( !( element.parentNode instanceof Element )
            || isNotPlainText( element.parentNode ) )
    window.addEventListener( 'load', () => {
        Array.from( document.body.getElementsByClassName( 'rouge-code' ) )
        .filter( isNotPlainText )
        .forEach( codeBlock => {
            const button = makeButton()
            codeBlock.insertBefore( button, codeBlock.childNodes[0] )
            // button.style.position = 'relative'
            button.addEventListener( 'click', () => {
                window.navigator.clipboard.writeText( codeBlock.innerText )
                button.innerText = 'Copied!'
                setTimeout( () => button.innerText = 'Copy', 3000 )
            } )
        } )
    } )
</script>