
<!--
  --
  --  Configure MathJax to permit $...$ for inline matht
  --
  -->

<script type="text/javascript">
    MathJax = {
        tex: {
            inlineMath: [['$','$'], ['\\(','\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    }
</script>

<!--
  --
  --  Import MathJax
  --
  -->

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript"
        id="MathJax-script"
        async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<!--
  --
  --  Fix inconsistent gutter width for code cells
  --  And let tables wrap rather than need to scroll.
  --  (Otherwise it's not even obvious that there's content to scroll to.)
  --
  -->

<style>
    .rouge-gutter {
        width: 3em;
    }
    .main-content table a {
        white-space: unset;
    }
</style>

<!--
  --
  --  Add copy buttons to all code input cells
  --  and make those cells slightly visually distinctive
  --
  -->

<script type="text/javascript">
    function makeButton () {
        const button = document.createElement( 'button' )
        button.setAttribute( 'aria-label', 'Copy code to clipboard' )
        button.innerText = 'Copy'
        button.style.float = 'right'
        button.classList.add( 'btn' )
        return button
    }
    const isNotPlainText = element =>
        !element.classList.contains( 'language-plaintext' ) &&
        ( !( element.parentNode instanceof Element )
            || isNotPlainText( element.parentNode ) )
    window.addEventListener( 'load', () => {
        Array.from( document.body.getElementsByClassName( 'rouge-code' ) )
        .forEach( codeBlock => {
            if ( isNotPlainText( codeBlock ) ) {
                // If it's an input code block, do this:
                // 1. Insert the "copy" button
                const button = makeButton()
                codeBlock.insertBefore( button, codeBlock.childNodes[0] )
                button.addEventListener( 'click', () => {
                    button.innerText = '' // don't copy the word "copy"
                    window.navigator.clipboard.writeText( codeBlock.innerText )
                    button.innerText = 'Copied!'
                    setTimeout( () => button.innerText = 'Copy', 3000 )
                } )
                // 2. Adjust border style
                const surrounding = codeBlock.closest( '.highlighter-rouge' )
                if ( surrounding )
                    surrounding.style.border = '1px solid #2869e6'
            } else {
                // But if it's an output code block, remove the line numbers.
                const surrounding = codeBlock.closest( '.highlighter-rouge' )
                if ( surrounding )
                    Array.from( surrounding.querySelectorAll('.lineno') )
                    .forEach( lineno => lineno.style.visibility = 'hidden' )
            }
        } )
    } )
</script>

<!--
  --
  --  Add logo image above nav bar
  --
  -->

<style>
    .nav-list {
        padding-top: 180px;
        background-image: url(/how2data/site/assets/images/H2Dlogo2.svg);
        background-repeat: no-repeat;
        background-position: 24px -2px;
        background-size: 153px 153px;
    }
</style>

